<div class="container">    
  <div class="card wrapper">
    <div class="card-header">
      <h3>forkJoin Example</h3>
    <button class="btn btn-danger" onclick="deleteAllClick()">Delete All</button>
    </div>
    <div class="card-body list">
      <ul class="list-group">
        <li class="list-group-item" id="item1">item1 <button type="button" class="btn btn-danger" onclick="deleteClick(1)">Delete</button></li>
        <li class="list-group-item" id="item2">item2 <button type="button" class="btn btn-danger" onclick="deleteClick(2)">Delete</button></li>
        <li class="list-group-item" id="item3">item3 <button type="button" class="btn btn-danger" onclick="deleteClick(3)">Delete</button></li>
      </ul>
    </div>
  </div>
</div>

